<div id="report">
  <div class="w3-row">
     <div id="Kehadiran" class="w3-container w3-border city">
         <h3>Daftar Hadir Pegawai </h3>
         <div class="w3-row" v-if="pilihtgl">
           <div class="w3-col s12 m3 l3 w3-card w3-round w3-margin-bottom">
             <div class="w3-container w3-amber">
               <h5>Pilih periode</h5>
             </div>
             <form class="w3-container w3-margin-top">
               <p>
                  <label class="w3-text-brown"><b>Awal</b></label>
                  <input v-model="tgl_awal" class="w3-input w3-border w3-sand" name="awal" type="date">
               </p>
               <p>
                  <label class="w3-text-brown"><b>Akhir</b></label>
                  <input v-model="tgl_akhir" class="w3-input w3-border w3-sand" name="akhir" type="date">
               </p>
               <button class="w3-btn w3-brown w3-round" @click="showReport()">Lihat Laporan</button></p>
             </form>
           </div>

         </div>
         <div class="w3-row" v-if="!pilihtgl || false">
             <div class="w3-col s12 m6 l6">
               <h6>
                  <button class="w3-btn w3-brown w3-circle" @click="showPilih()"><i class="fa fa-calendar"> </i></button>
                    {{toshortDate(tgl_awal)}} s.d. {{toshortDate(tgl_akhir)}}
               </h6>
             </div>
             <div class="w3-col s12 m6 l6">
               <p v-if="absensipegawai !== null && absensipegawai.length > 0">
                  <label class="w3-text-brown"><b>Unit Kerja</b></label>
                  <select v-model="ukSelected" class="w3-select w3-border w3-sand" name="optUK" type="option" v-on:change="runreport()">
                    <!-- <option value="" disabled selected>---filter berdasarkan unit kerja---</option>
                    <option :value="null" >**** semua ****</option> -->
                    <option value="Eselon 1">Eselon 1</option>
                    <option :value="uk.unit_name" v-for="uk in unitkerja">{{uk.unit_name}}</option>
                    <option value="Kontrak">Kontrak/Mancadaya</option>
                  </select>
               </p>
             </div>
             <br />
             <div v-if="absensipegawai !== null && absensipegawai.length > 0">
               <button v-if="!hidetgl" @click="hidetgl=true" class="w3-btn w3-orange w3-round">Hanya Rekapitulasi</button>
               <!-- <download-excel :data="json_data">
  Download Data
  <img src="download_icon.png" />
</download-excel> -->
               <button v-if="hidetgl" @click="hidetgl=false" class="w3-btn w3-teal w3-round">Data Lengkap</button>

               <div class="w3-right">
                 <input class="w3-radio" type="radio" name="jenispegawai" value="asn" v-model="jenispegawai">
                 <label>ASN &nbsp; &nbsp; &nbsp; </label>
                 <input class="w3-radio" type="radio" name="jenispegawai" value="ppnpn" v-model="jenispegawai">
                 <label>PPNPN &nbsp; &nbsp; &nbsp; </label>
               </div>
             </div>
             <br />
             <div class="w3-col s12 m12 l12">

                 <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead v-if="absensipegawai !== null && absensipegawai.length > 0" class="w3-teal">
                        <tr>
                          <th rowspan="2">No.</th>
                          <th rowspan="2">Nama</th>
                          <th rowspan="2">NIP</th>
                          <th v-if="absensipegawai[0].absensi!==undefined" v-show="!hidetgl" :colspan="absensipegawai[0].absensi.length" class="w3-center">Tanggal</th>
                          <th rowspan="2">WFO</th>
                          <th rowspan="2">WFH</th>
                          <th rowspan="2">Kerja</th>
                          <th rowspan="2">Hari Kerja</th>
                          <th rowspan="2">%WFO (100%)</th>
                          <th rowspan="2">%WFH (80%)</th>
                          <th rowspan="2">SP</th>
                          <th rowspan="2">HD</th>
                          <th rowspan="2">%WFO Nett</th>
                          <th rowspan="2">%WFO Nett + %WFH</th>
                        </tr>
                        <tr v-show="!hidetgl" >
                          <th v-for="absensi in absensipegawai[0].absensi" :class="{'w3-red' : absensi.bool_weekend || absensi.bool_hari_libur}">
                            {{ambilTanggal(absensi.tanggal)}}
                          </th>
                        </tr>
                      </thead>
                      <tbody v-if="absensipegawai !== null && absensipegawai.length > 0">
                        <tr v-for="(adata, idx) in filteredAsn">
                          <td style="text-align: right">{{idx+1}}</td>
                          <td>{{adata.pgw_nama}}</td>
                          <td>{{adata.nip}}</td>
                          <td v-show="!hidetgl" v-for="absensi in adata.absensi" :class="{'w3-red' : absensi.bool_weekend || absensi.bool_hari_libur}">
                            <span v-if="absensi.bool_wfh!==null">
                              <span v-if="absensi.bool_wfh">WFH</span>
                              <span v-if="!absensi.bool_wfh">WFO</span>
                            </span>
                            <span v-if="absensi.bool_wfh===null && !(absensi.bool_weekend || absensi.bool_hari_libur) && absensi.leaving.id === null" class="w3-text-red">
                              <span v-if="!boolmangkir"><b>BAK</b></span>
                              <span v-else><b>M</b></span>
                            </span>
                            <span v-else-if="!(absensi.bool_weekend || absensi.bool_hari_libur)">
                              {{absensi.master.kode}}
                            </span>
                          </td>
                          <td style="text-align: right">{{adata.wfo}}</td>
                          <td style="text-align: right">{{adata.wfh}}</td>
                          <td style="text-align: right">{{adata.wfh + adata.wfo}}</td>
                          <td style="text-align: right">{{adata.harikerja}}</td>
                          <td style="text-align: right">{{adata.persenwfo}}%</td>
                          <td style="text-align: right">{{adata.persenwfh}}%</td>
                          <td style="text-align: right">{{adata.sp}}%</td>
                          <td style="text-align: right">{{adata.hd}}%</td>
                          <td style="text-align: right">{{adata.persenwfonett}}%</td>
                          <td style="text-align: right">{{adata.total}}%</td>
                        </tr>
                      </tbody>

                      <tbody v-if="absensipegawai !== null && absensipegawai.length === 0">
                        <tr>
                          <td colspan="13" class="w3-text-red">
                            Data tidak diketemukan.
                          </td>
                        </tr>
                      </tbody>

                      <tbody v-if="absensipegawai === null">
                        <tr>
                          <td colspan="13">
                            <i class="fa fa-spinner fa-spin"> </i> fetching & processing data, please wait ...
                          </td>
                        </tr>
                      </tbody>
                    </table>
                 </div>
             </div>
          </div>
     </div>


 </div>
</div>