
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Login</title>

  
    

    <!-- Bootstrap core CSS -->
<!-- <link href="/docs/4.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">



    <!-- Favicons -->
<!-- <link rel="apple-touch-icon" href="/docs/4.6/assets/img/favicons/apple-touch-icon.png" sizes="180x180"> -->
<link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/assets/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=L1HyGk4XIAhqPrJx4uyL1qA3b-CKk5WvehG71yUQLo9sP1Lvqb-Jz6YUYUxmLKtsIXXgh_z8tAi6YjAjcyfytQiMJhlNzXnxOQ2T5CmhoYE" charset="UTF-8"></script><style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
    <body class="text-center">
        
        <div class="row justify-content-center pt-5">
            <div class="col-4">
               <p> <?php echo $this->flashSession->output() ?></p>
                <!-- <form class="form-signin" > -->
                <?php echo Phalcon\Tag::form(
                [
                    '/signin/login',
                    'method' => 'post'
                ]
                ); ?>

                    <img class="mb-4" src="/assets/img/GARUDA_black.PNG" alt="" width="170" height="170">
                    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email address</label>
                            <?php echo $form->render('email'); ?>
                            <!-- <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus> -->
                           
                        </div>
                        <div>
                            <label for="password" class="sr-only">Password</label>
                            <!-- <input type="password" id="password" class="form-control" placeholder="Password" required> -->
                            <?php echo $form->render('password'); ?>
                           
                        </div>
                        <?php echo $form->render('submit'); ?>
                   
                    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                    <?= "User : ".$this->session->get('AUTH_EMAIL') ?>
                </form>
            </div>
        </div>
    </body>
</html>

